@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: rgb(241, 238, 238);
  width: 230px;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}
.sidebar nav {
  padding: 60px;
}
.sidebar nav li {
  list-style: none;
  font-size: 20px;
  padding: 33px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: rgb(104, 90, 90);
}
.main {
  /* background-color: yellow; */
  width: 70vw;
}
.container {
  display: flex;
}
.contactform {
  font-family: "Fira Sans", sans-serif;
  padding: 0 34px;
  padding-top: 80px;
}
.contactform form{
    margin-left: 256px;
}
.contactform h1 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  padding: 12px 0;
}
.contactform form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.contactform form div input {
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
#emailHelp {
  font-size: 13px;
  color: midnightblue;
  margin: 0 7px;
  padding: 3px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    margin: 0 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
} 
.btn-sm{
    font-size: 12px;
    padding: 10px 19px;
    margin: 12px 0;
}
