@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color:rgb(241, 238, 238);
  width: 230px;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
}
.sidebar nav {
  padding: 60px;
}
.sidebar nav li {
  list-style: none;
  font-size: 20px;
  padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(104, 90, 90);
}
.main {
  /* background-color: yellow; */
  width: 70vw;
}
.container {
  display: flex;
}
.infocontainer {
  /* background-color: rgb(179, 222, 70); */
  height: 50vh;
  width: 70vw;
  margin: 145px auto;
  display: flex;
  justify-content: space-around;

}
.devinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  padding: 65px;
}
.hello {
  font-size: 75px;
}
.name {
  font-size: 60px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}
.about {
  font-size: 40px;
}
.moreabout{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.buttons{
    margin-top: 20px;
}
.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    margin: 0 3px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
} 
.devpic img {
  width: 240px;
  height: 50vh;
}
